{
  "openapi": "3.0.0",
  "info": {
    "title": "NanbyoData API",
    "description": "NanbyoData collects and centrally provides information on intractable diseases from all perspectives, which is useful for all people involved with intractable diseases.",
    "contact": {
      "url": "https://dbcls.rois.ac.jp/contact.html"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://pubcasefinder.dbcls.jp/sparqlist/api",
      "description": "SwaggerHub API Auto Mocking"
    }
  ],
  "paths": {
    "/NanbyoData_the_number_of_patients_list": {
      "get": {
        "summary": "",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/patients_list"
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        }
      }
    },
    "/nanbyodata_get_gene_by_nando_id": {
      "get": {
        "summary": "Retrieve Gene informations by the given NANDO ID",
        "description": "Retrieve Gene informations by the given NANDO ID",
        "parameters": [
          {
            "name": "nando_id",
            "in": "query",
            "description": "NANDO ID",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "1200005",
              "default": "1200003"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/gene"
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        }
      }
    },
    "/nanbyodata_get_gene_test": {
      "get": {
        "summary": "Get genetic test data",
        "description": "Get genetic test data",
        "parameters": [
          {
            "name": "nando_id",
            "in": "query",
            "description": "NANDO ID",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "1200489"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/gene_test"
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        }
      }
    },
    "/nanbyodata_get_hpo_data_by_nando_id": {
      "get": {
        "summary": "Get phenotype data",
        "description": "Get phenotype data",
        "parameters": [
          {
            "name": "nando_id",
            "in": "query",
            "description": "NANDO ID",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "1200009",
              "default": "1200005"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/hpo_data"
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        }
      }
    },
    "/nanbyodata_get_metadata": {
      "get": {
        "summary": "Get overview data",
        "description": "Get overview data",
        "parameters": [
          {
            "name": "nando_id",
            "in": "query",
            "description": "NANDO ID",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "1200009",
              "default": "1200005"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/metadata"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        }
      }
    },
    "/nanbyodata_get_riken_brc_cell_info_by_nando_id": {
      "get": {
        "summary": "Get RIKEN BRC cell data",
        "description": "Get RIKEN BRC cell data",
        "parameters": [
          {
            "name": "nando_id",
            "in": "query",
            "description": "NANDO ID",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "2200865"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/riken_brc_cell_info"
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        }
      }
    },
    "/nanbyodata_get_riken_brc_dna_info_by_nando_id": {
      "get": {
        "summary": "Get RIKEN BRC DNA data",
        "description": "Get RIKEN BRC DNA data",
        "parameters": [
          {
            "name": "nando_id",
            "in": "query",
            "description": "NANDO ID",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "2200053"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/riken_brc_dna_info"
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        }
      }
    },
    "/nanbyodata_get_riken_brc_mouse_info_by_nando_id": {
      "get": {
        "summary": "Get RIKEN BRC mouse data",
        "description": "Get RIKEN BRC mouse data",
        "parameters": [
          {
            "name": "nando_id",
            "in": "query",
            "description": "NANDO ID",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "2200053"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/riken_brc_mouse_info"
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        }
      }
    },
    "/nanbyodata_get_variant_by_nando_id": {
      "get": {
        "summary": "Get variant data in ClinVar",
        "description": "Get variant data in ClinVar",
        "parameters": [
          {
            "name": "nando_id",
            "in": "query",
            "description": "NANDO ID",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "1200061",
              "default": "1200030"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/variant"
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "patients_list": {
        "type": "object",
        "properties": {
          "s": {
            "type": "string",
            "format": "uri",
            "example": "http://nanbyodata.jp/ontology/NANDO_1200001"
          },
          "nando": {
            "type": "string",
            "example": "NANDO:1200001"
          },
          "label": {
            "type": "string",
            "example": "球脊髄性筋萎縮症"
          },
          "label_en": {
            "type": "string",
            "example": "Spinal and bulbar muscular atrophy"
          },
          "num_of_2015": {
            "type": "string",
            "example": "1230"
          },
          "num_of_2016": {
            "type": "string",
            "example": "1253"
          },
          "num_of_2017": {
            "type": "string",
            "example": "1232"
          },
          "num_of_2018": {
            "type": "string",
            "example": "1407"
          },
          "num_of_2019": {
            "type": "string",
            "example": "1508"
          },
          "num_of_2020": {
            "type": "string",
            "example": "1622"
          }
        }
      },
      "gene": {
        "type": "object",
        "properties": {
          "gene_symbol": {
            "type": "string",
            "example": "AGTPBP1"
          },
          "omim_url": {
            "type": "string",
            "format": "uri",
            "example": "http://identifiers.org/mim/606830"
          },
          "ncbi_id": {
            "type": "string",
            "example": "23287"
          },
          "ncbi_url": {
            "type": "string",
            "format": "uri",
            "example": "http://identifiers.org/ncbigene/23287"
          },
          "mondo_id": {
            "type": "string",
            "example": "MONDO:0016396"
          },
          "mondo_label": {
            "type": "string",
            "example": "pontocerebellar hypoplasia type 1"
          },
          "mondo_url": {
            "type": "string",
            "format": "uri",
            "example": "https://monarchinitiative.org/MONDO:0016396"
          },
          "nando_idb": {
            "type": "string",
            "example": "NANDO:1200003"
          },
          "nando_ida": {
            "type": "string",
            "format": "uri",
            "example": "http://nanbyodata.jp/ontology/NANDO_1200003"
          },
          "nando_label_e": {
            "type": "string",
            "example": "Spinal muscular atrophy"
          },
          "nando_label_j": {
            "type": "string",
            "example": "脊髄性筋萎縮症"
          }
        }
      },
      "gene_test": {
        "type": "object",
        "properties": {
          "hp": {
            "type": "string",
            "format": "uri",
            "example": "http://www.kentaikensa.jp/search/page/4"
          },
          "label": {
            "type": "string",
            "example": "筋ジストロフィー"
          },
          "gene": {
            "type": "string",
            "example": "DMD"
          },
          "facility": {
            "type": "string",
            "example": "かずさ遺伝子検査室"
          }
        }
      },
      "hpo_data": {
        "type": "object",
        "properties": {
          "hpo_category": {
            "type": "string",
            "format": "uri",
            "example": "http://purl.obolibrary.org/obo/HP_0033127"
          },
          "hpo_category_name_en": {
            "type": "string",
            "example": "Abnormality of the musculoskeletal system"
          },
          "hpo_id": {
            "type": "string",
            "example": "HP:0003202"
          },
          "hpo_url": {
            "type": "string",
            "format": "uri",
            "example": "http://purl.obolibrary.org/obo/HP_0003202"
          },
          "hpo_label_en": {
            "type": "string",
            "example": "Skeletal muscle atrophy"
          },
          "hpo_label_ja": {
            "type": "string",
            "example": "筋萎縮"
          }
        }
      },
      "metadata": {
        "type": "object",
        "properties": {
          "nando_id": {
            "type": "string",
            "example": "1200005"
          },
          "label_en": {
            "type": "string",
            "example": "Spinal muscular atrophy type II"
          },
          "label_ja": {
            "type": "string",
            "example": "脊髄性筋萎縮症II型"
          },
          "ruby": {
            "type": "string",
            "example": "せきずいせいきんいしゅくしょう2がた"
          },
          "alt_label_en": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "Dubowitz disease"
            }
          },
          "alt_label_ja": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "デュボビッツ病"
            }
          },
          "notification_number": {
            "type": "string",
            "example": "3"
          },
          "source": {
            "type": "string",
            "format": "uri",
            "example": "https://www.nanbyou.or.jp/wp-content/uploads/upload_files/File/003-201704-kojin.pdf"
          },
          "mondos": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "format": "uri",
                  "example": "https://monarchinitiative.org/MONDO:0009673"
                },
                "id": {
                  "type": "string",
                  "example": "MONDO:0009673"
                }
              }
            }
          },
          "mondo_decs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "format": "uri",
                  "example": "http://purl.obolibrary.org/obo/MONDO_0009673"
                },
                "id": {
                  "type": "string",
                  "example": "Proximal spinal muscular atrophy type 2 (SMA2) is a chronic infantile form of proximal spinal muscular atrophy characterized by muscle weakness and hypotonia resulting from the degeneration and loss of the lower motor neurons in the spinal cord and the brain stem nuclei."
                }
              }
            }
          },
          "inheritance_uris": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "uri": {
                  "type": "string",
                  "format": "uri",
                  "example": "http://purl.obolibrary.org/obo/HP_0000007"
                },
                "id": {
                  "type": "string",
                  "example": "常染色体劣性遺伝"
                }
              }
            }
          }
        }
      },
      "riken_brc_cell_info": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "string",
            "example": "HPS0233"
          },
          "Homepage": {
            "type": "string",
            "format": "uri",
            "example": "http://cellbank.brc.riken.jp/cell_bank/CellInfo/?cellNo=HPS0233"
          },
          "Cell_name": {
            "type": "string",
            "example": "HPS0233"
          },
          "Description_e": {
            "type": "string",
            "example": "Disease specific iPS cell line derived from a patient : Muscular dystrophy, Becker type. HPS0234 was derived from the same patient.iPS cells were created using the Sendai virus vector."
          },
          "Description_j": {
            "type": "string",
            "example": "疾患特異的iPS細胞株。ベッカー型筋ジストロフィー患者由来。HPS0234と同一人由来。センダイウイルスベクターを用いて4因子（Oct3/4, Sox2, Klf4, c-Myc）を導入して樹立。<a href='https://cell.brc.riken.jp/ja/manual/vitrification' target=\"_blank\">ガラス化法（Vitrification法）</a>保存。"
          }
        }
      },
      "riken_brc_dna_info": {
        "type": "object",
        "properties": {
          "dna": {
            "type": "string",
            "format": "uri",
            "example": "http://metadb.riken.jp/db/rikenbrc_dnabank/HKR066827"
          },
          "gene_label": {
            "type": "string",
            "example": "ARe67B03"
          },
          "hp": {
            "type": "string",
            "format": "uri",
            "example": "http://dna.brc.riken.jp/DataSheet/HKR066827"
          },
          "gene_id": {
            "type": "string",
            "example": "HKR066827"
          },
          "ncbi_gene": {
            "type": "string",
            "format": "uri",
            "example": "http://identifiers.org/ncbigene/2130"
          },
          "gene": {
            "type": "string",
            "example": "EWSR1"
          },
          "nando": {
            "type": "string",
            "format": "uri",
            "example": "http://nanbyodata.jp/ontology/NANDO_2200053"
          }
        }
      },
      "riken_brc_mouse_info": {
        "type": "object",
        "properties": {
          "mouse": {
            "type": "string",
            "format": "uri",
            "example": "http://metadb.riken.jp/db/rikenbrc_mouse/RBRC10210"
          },
          "mouse_name": {
            "type": "string",
            "example": "B6;Cg-Ewsr1<tm1.1Hko>"
          },
          "hp": {
            "type": "string",
            "format": "uri",
            "example": "http://www2.brc.riken.jp/lab/animal/detail.php?brc_no=RBRC10210"
          },
          "mouse_id": {
            "type": "string",
            "example": "RBRC10210"
          },
          "description": {
            "type": "string",
            "example": "エピジェネティクス研究に有用である。"
          },
          "nando": {
            "type": "string",
            "format": "uri",
            "example": "http://nanbyodata.jp/ontology/NANDO_2200053"
          }
        }
      },
      "variant": {
        "type": "object",
        "properties": {
          "tgv_id": {
            "type": "string",
            "example": "tgv57178807"
          },
          "tgv_link": {
            "type": "string",
            "format": "uri",
            "example": "https://grch38.togovar.org/variant/tgv57178807"
          },
          "position": {
            "type": "string",
            "example": "17:15231004"
          },
          "title": {
            "type": "string",
            "example": "NM_000304.4(PMP22):c.396C>T (p.Tyr132=)"
          },
          "Clinvar_link": {
            "type": "string",
            "format": "uri",
            "example": "http://ncbi.nlm.nih.gov/clinvar/variation/378379"
          },
          "Clinvar_id": {
            "type": "string",
            "example": "VCV000378379"
          },
          "Interpretation": {
            "type": "string",
            "example": "Likely benign"
          },
          "type": {
            "type": "string",
            "example": "SNV"
          },
          "MedGen_id": {
            "type": "string",
            "example": "C4083008"
          },
          "MedGen_link": {
            "type": "string",
            "format": "uri",
            "example": "http://ncbi.nlm.nih.gov/medgen/C4083008"
          },
          "mondo": {
            "type": "string",
            "format": "uri",
            "example": "http://purl.obolibrary.org/obo/MONDO_0007691"
          },
          "mondo_id": {
            "type": "string",
            "example": "MONDO:0007691"
          }
        }
      }
    }
  }
}