:root {
  // color
  --color-primary: #147786;
  --color-primary-opacity2: rgba(20, 119, 134, 0.2);
  --color-primary-opacity7: rgba(20, 119, 134, 0.7);
  --color-primary-lighter: #6a9fa6;
  --color-primary-dropdown: #148fa2;
  --color-secondary: #13295a;
  --color-font: #696969;
  --color-background-gray: #dadede;
  --color-sidebar-toc: #f6f8f8;
  --color-sidebar-disease: #eceeee;
  --color-button-background: #efefef;
  --color-blue: #495aff;
  --color-link: #004098;
  --color-table-border: #c0c0c0;
  --color-table-dash: #808080;
  --color-dataset-th: #94928d;
  --color-black: #444;
  --color-white: #fff;
  --color-spinner-bg: #ddd;
  --color-summary-border: #c1c6d3;
  --color-summary-link: #90959b;
  --color-nav-hover: rgba(255, 255, 255, 0.5);
  --color-footer-bg: #f9f8f5;
  --color-breadcrumb-hover: rgba(22, 35, 78, 0.1);

  // font-size
  --font-size-xs: 0.625rem; /* 10px */
  --font-size-small: 0.75rem; /* 12px */
  --font-size-base: 0.875rem; /* 14px */
  --font-size-medium: 1rem; /* 16px */
  --font-size-large: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-2xl: 1.5rem; /* 24px */
  --font-size-3xl: 2rem; /* 32px */

  // spacing
  --spacing-disease-content: 25px;
  --spacing-inner-box: 10px;
  --spacing-heading-bottom: 8px;

  // radius
  --radius-small: 2px;
  --radius-base: 3px;
  --radius-medium: 5px;
  --radius-large: 10px;

  // z-index
  --zindex-disease-side-link: 1;
  --zindex-popup: 50;
  --zindex-sidebar-optionlist: 100;

  // FontAwesome
  --icon-link: '\f35d';
  --icon-copy: '\f0c5';
  --icon-download: '\f019';
  --icon-book: '\f02d';
  --icon-file: '\f15c';
}
