services:
  app:
    container_name: ${CONTAINER_NAME:-nanbyodata-app}
    image: ${IMAGE_NAME:-nanbyodata-app}
    build: .
    ports:
      - ${PORT:-8000}:8000
    volumes:
      - .:/app
    environment:
      - UWSGI_INI=uwsgi/uwsgi.ini
      - BASE_URI=${BASE_URI:-https://nanbyodata.jp/}
      - MYSQL_HOST=mysql # service 名で接続
      - MYSQL_INTERNAL_PORT=3306 # mysqlコンテナ内部ポート(3306固定)
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    # [TODO] user $UID:$GID 
  mysql:
    container_name: ${CONTAINER_NAME_MYSQL:-nanbyodata-mysql}
    image: mysql:5.7.13
    user: "${UID}:${GID}"
    ports:
      - ${MYSQL_PORT:-3306}:3306
    environment:
      - TZ=Asia/Tokyo
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - ./mysql/my.cnf:/etc/mysql/conf.d/my.cnf
      - ${MYSQL_DATA_DIR:-./mysql/data}:/var/lib/mysql
      - ./mysql/logs:/var/log/mysql
      - ./mysql/scripts:/scripts