#sidebar {
  position: fixed;
  top: 65px;
  left: 0px;
  width: 270px;
  height: 100%;
  text-align: left;
  background-color: var(--color-background-gray);
  --padding-inline: 8px;

  .sidebar-title {
    font-size: 14px;
    font-weight: bold;
    color: #16234e;
    opacity: 0.6;
    padding: 2px var(--padding-inline);
    margin: 0px calc(var(--padding-inline) * -1) 8px;
  }

  .breadcrumb-list {
    padding: 25px;
    padding-bottom: 40px;
  }

  .nav-link {
    margin: 0;
    margin-top: -1.5px;
    position: relative;
  }
}



#content {
  top: 90px;
  bottom: 0px;
  position: fixed;
  z-index: -1;
  width: calc(100vw - 270px);
  overflow: scroll;
  padding: 0 33px 50px;
}

#data-wrapper {
  > div {
    scroll-margin-top: 70px;
  }

  header.summary-header {
    margin-bottom: 12px;
  }
}

// TODO: This is a temporary fix for the z-index issue. We need to check ids
#overview,
#causal-genes,
#genetic-testing,
#phenotypes,
#brc,
#variant {
  position: absolute;
  z-index: 1;
  overflow: scroll;
  width: calc(100vw - 270px - 33px - 33px);
}
