#overview {
  .overview-wrapper {
    padding: 0 10px;
  }
  .temp-wrapper {
    .inheritance-uris {
      padding-bottom: 15px;
    }
  }
}

.content-wrapper {
  position: relative;
  top: 76px;

  #sidebar {
    overflow-y: auto;
    height: calc(100vh - 76px);
    width: 270px;
    background-color: var(--color-background-gray);

    > section {
      padding: var(--spacing-disease-content);

      &:first-child {
        padding-bottom: 35px;
        border-bottom: 1px solid rgba(112, 112, 112, 0.4);
      }

      .sidebar-title {
        font-weight: bold;
        color: var(--color-secondary);
        opacity: 0.6;
        margin-bottom: var(--spacing-heading-bottom);
      }
    }
  }

  #content {
    position: fixed;
    top: 76px;
    left: 270px;
    overflow-y: auto;
    height: calc(100vh - 76px);
    width: calc(100% - 270px);
    padding: var(--spacing-disease-content);
    display: none;

    #data-wrapper {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-disease-content);
      > div {
        scroll-margin-top: 100vh;
      }

      .temp-title {
        font-size: var(--font-size-2xl);
        border-radius: var(--radius-base);
        color: var(--color-secondary);
        white-space: nowrap;
        font-weight: 600;
        position: relative;
        padding-left: 15px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;

        &::before {
          content: '';
          position: absolute;
          left: 1px;
          width: 6px;
          height: 28px;
          background-color: var(--color-secondary);
        }
        .data-num {
          font-size: var(--font-size-base);
          padding: 0 5px;
          line-height: 1.5;
          margin: 0 5px;
          min-width: 22px;
        }
      }

      .sub-title {
        font-size: var(--font-size-xl);
        border-radius: var(--radius-base);
        color: var(--color-secondary);
        white-space: nowrap;
        font-weight: bold;
        position: relative;
        padding-left: 15px;
        display: flex;
        align-items: center;

        &::before {
          content: '';
          position: absolute;
          left: 1px;
          width: 10px;
          height: 10px;
          background-color: var(--color-secondary);
        }
      }

      #temp-disease-definition {
        .tab-content {
          text-align: justify;
        }

        a[target='_blank'] {
          color: var(--color-link);
          &::after {
            color: inherit;
            margin-left: 5px;
          }
        }
      }
    }
  }
}
