/* Navigation */
.navbar {
  display: block;
  padding: 15px 45px;
  background-color: var(--color-primary);

  a.navbar-brand {
    text-decoration: none;
    padding: 0;
    margin: 0;

    img.imgtitle {
      width: 180px;
      display: block;
    }
  }

  button.navbar-toggler {
    color: #fff;
    border: none;
    outline: none;

    i {
      position: relative;
      top: 1px;
      font-size: var(--font-size-3xl);
      vertical-align: top;
    }
  }

  select.language-select {
    text-align: center;
    appearance: none;
    border-radius: 1lh;
    padding: 5px 10px;
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent;
    outline: none;
    height: 36px;
    flex-grow: inherit;
    cursor: pointer;
    option {
      color: var(--color-black);
      background-color: var(--color-background-gray);
    }
  }

  ul.navbar-nav {
    a.nav-link {
      color: #fff;
      margin-left: 12px;

      &:hover {
        color: var(--color-nav-hover);
      }

      button.btn-TOS {
        width: 100%;
        padding: 0;
        text-align: left;
        background-color: transparent;
        outline: none;
        border: none;
        color: #fff;

        &:hover {
          color: var(--color-nav-hover);
        }
      }
    }
  }
}

/* Main Navigation */
#mainNav {
  .container {
    flex-wrap: nowrap;
    align-items: flex-start;

    img.imgtitle {
      position: relative;
      top: 4px;
    }

    .flex-wrapper {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 28px;

      @media screen and (max-width: 991.98px) {
        display: block;
      }

      .flex {
        display: flex;
        gap: 13px;
        select.language-select {
          margin-top: 2px;
        }
      }

      #navbarResponsive {
        ul.navbar-nav {
          padding-top: 0;

          @media screen and (max-width: 991.98px) {
            padding-top: 15px;
          }
        }
      }
    }
  }
}

/* Disease Navigation */
#diseaseNav {
  .wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .navbar-left {
      display: flex;
      gap: 45px;
      align-items: center;

      .intro-text {
        width: 700px;

        ul.token-input-list-facebook {
          padding: 8px 20px;
          max-width: 690px;

          li.token-input-input-token-facebook {
            #token-input-tokeninput {
              height: 24px;
            }
          }
        }
      }
    }

    .navbar-right {
      .rigth-wrapper {
        position: relative;
        top: 4px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 13px;
      }

      ul.navbar-nav {
        padding-top: 15px;
      }
    }
  }
}
