.page-layout {
  overflow: hidden;

  header.page-title,
  header.search-area {
    border-bottom-right-radius: 2000px 250px;
    border-bottom-left-radius: 2000px 250px;
    padding: 100px 250px 40px;
    margin: 0 -250px;
    background-color: var(--color-primary);
    color: #fff;
    text-align: center;

    h2 {
      font-size: var(--font-size-3xl);
      font-weight: 700;
    }
  }

  h2.section-title {
    font-size: var(--font-size-xl);
    color: var(--color-secondary);
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
  }

  p.section-description {
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }

  h3.content-title {
    position: relative;
    font-size: var(--font-size-medium);
    font-weight: 700;
    color: var(--color-secondary);
    margin-bottom: var(--spacing-heading-bottom);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      border-top: 2px solid var(--color-blue);
      margin-top: -15px;
    }
  }

  .section-block {
    + .section-block {
      margin-top: 70px;
    }
  }

  .content-block {
    + .content-block {
      margin-top: 60px;
    }
  }

  #download {
    scroll-margin-top: 90px;
  }

  &#news-page {
    .news-title {
      font-size: var(--font-size-large);
      font-weight: bold;
    }

    hr {
      margin: 0.4rem 0;
    }

    .post-date {
      font-size: var(--font-size-small);
      letter-spacing: 0.1rem;
      margin-bottom: 40px;
    }

    .post-content {
      p {
        font-size: var(--font-size-medium);
      }
    }
  }
}
