/* Breadcrumb List */
.breadcrumb-list {
  .breadcrumb-title {
    color: var(--color-secondary);
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 3px;
  }

  /*ツリー*/
  .breadcrumb-tree {
    position: relative;
    margin-left: 1rem;

    ul {
      position: relative;
      margin-left: 0.5rem;
    }

    &::before,
    ul::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      border-left: 1px solid;
    }

    li {
      padding: 0.3rem 0 0 0.6rem;
      line-height: 1.3rem;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 1rem;
        bottom: 0;
        width: 10px;
        border-top: 1px solid;
        margin-top: -1px;
        background: var(--color-background-gray);
      }
    }
  }
}

.cp_ipselect {
  select {
    width: 100% !important;
    padding-right: 1em;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;

    &::-ms-expand {
      display: none;
    }
  }

  &.cp_sl03 {
    position: relative;
    border-radius: 2px;
    border: 1px solid var(--color-secondary);
    background: var(--color-background-gray);

    &::before {
      content: '';
      position: absolute;
      top: 0.6em;
      right: 0.6em;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid var(--color-secondary);
      pointer-events: none;
    }

    select {
      font-weight: bold;
      padding: 2px 26px 0px 5px;
      color: var(--color-secondary);
      font-size: 14px;

      option {
        color: #13295a;
        background: var(--color-background-gray);
        font-weight: bold;
      }
    }
  }
}
