.btn {
  background-color: transparent;
  border-radius: 0;
  border-color: var(--color-blue);
  color: var(--color-blue);
  font-size: var(--font-size-small);

  &.btn-primary {
    width: 100%;
  }

  &.btn-secondary {
    width: 20%;
  }

  &:focus {
    box-shadow: none;
  }

  &:hover,
  &:active {
    color: #fff;
    background-color: var(--color-blue);
  }
}

