/* Disease side navigation */
#temp-side-navigation {
  > ul {
    padding: 0;
    list-style-type: none;
    > li {
      &:first-child {
        border-top: 1px dashed var(--color-secondary);
      }
      border-bottom: 1px dashed var(--color-secondary);
      > a {
        display: block;
        font-weight: bold;
        padding: 10px;
        color: var(--color-secondary);
        text-decoration: none;
        margin-bottom: -1px;

        &:not(.selected):hover {
          background-color: var(--color-breadcrumb-hover);
        }
      }
      .nav-link {
        margin: 0;
        margin-top: -1.5px;
        position: relative;
        color: var(--color-secondary);
      }
      .data-num {
        padding: 0 5px;
        font-size: var(--font-size-small);
        min-width: 18px;
        position: absolute;
        right: 8px;
      }
      .selected {
        background-color: rgba(22, 35, 78, 0.2);
        color: var(--color-secondary);
      }
      .bio-resource,
      .variant {
        cursor: pointer;
        color: var(--color-secondary);
        font-weight: bold;
        padding: 10px 0 20px 10px;
        ul {
          position: relative;
          bottom: 6px;

          li {
            position: relative;
            margin-left: 20px;
            padding-top: 4px;

            &::before {
              content: '';
              display: block;
              width: 5px;
              height: 33px;
              top: 0;
              bottom: 0;
              left: 2px;
              border-left: 1px solid rgba(22, 35, 78, 0.3);
              position: absolute;
            }

            &:first-child::before {
              top:8px;
              height: 26px;
            }

            &::after {
              content: '';
              display: block;
              width: 1px;
              height: 1px;
              top: 33px;
              bottom: 0;
              left: 2px;
              border-left: 15px solid rgba(22, 35, 78, 0.3);
              position: absolute;
            }

            a {
              display: block;
              text-decoration: none;
              position: relative;
              top: 16px;
              padding: 5px;
              margin-left: 20px;
              padding-left: 10px;
              z-index: var(--zindex-disease-side-link);
              border-radius: var(--radius-small);
            }
            a:not(.selected):hover {
              background-color: var(--color-breadcrumb-hover);
            }
          }
        }
      }
    }
  }
}