.news-summary {
  padding: 0 20px;
  position: relative;
  .news-wrapper {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 20px;
  }

  .logdata {
    display: flex;
    flex-direction: column;
    gap: 20px;

    dl {
      display: flex;
      align-items: center;
      gap: 35px;
    }

    dt {
      font-size: var(--font-size-small);
      font-weight: normal;
      letter-spacing: 0.1rem;
    }

    dd {
      &::after {
        content: 'new';
        position: relative;
        background: pink;
        padding: 0 10px;
        border-radius: 10px;
        color: white;
        left: 5px;
        display: none;
      }

      &[data-date] {
        &::after {
          display: none;
        }

        &.is-recent::after {
          display: inline-block;
        }
      }
    }

    .more-list {
      display: none;

      &.open {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
  }

  .more {
    border: 1px solid var(--color-primary);
    border-radius: 1lh;
    color: var(--color-primary);
    padding: 0px 10px;
    cursor: pointer;
    transition: 0.15s;
    background: var(--color-white);
    outline: none;

    &:hover {
      color: #fff;
      background-color: var(--color-primary);
    }
  }

  .news-loading {
    top: 100%;
    left: 48%;
  }
}
