.tab-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 12px 0;

  .tab-label {
    position: relative;
    display: flex;
    align-items: center;
    order: -1;
    white-space: nowrap;
    padding: 6px 16px;
    border-radius: var(--radius-medium) var(--radius-medium) 0 0;
    color: var(--color-secondary);
    font-weight: bold;
    margin-bottom: 0;
    cursor: pointer;
    border-bottom: 2px solid var(--color-secondary);

    .data-num {
      padding: 0 4px;
      font-size: var(--font-size-xs);
      margin-left: 5px;
      min-width: 15px;
    }

    small {
      margin-right: 4px;
    }

    &.-flex {
      flex: 1;
    }
  }

  .tab-content {
    width: 100%;
    height: 0;
    overflow: hidden;
    display: none;
    line-height: 2;
  }

  .tab-switch {
    display: none;

    &:checked + .tab-label {
      border: var(--color-secondary) 2px solid;
      border-bottom: #fff 2px solid;

      + .tab-content {
        height: auto;
        overflow: auto;
        padding: 10px 5px;
        display: block;
      }
    }
  }
}
