.table-contents {
  .table {
    thead {
      th {
        padding: 10px;
        border-top: none;
        border-bottom: 1px solid var(--color-black);
        color: var(--color-dataset-th);
        font-size: var(--font-size-small);
        white-space: nowrap;
        font-weight: 400;
      }
    }
    tbody {
      tr {
        td {
          padding: 10px;
          color: var(--color-black);
          border-bottom: 1px solid var(--color-table-dash);
          white-space: nowrap;
        }
      }
      tr:last-child {
        td {
          border-bottom: 1px solid var(--color-black);
        }
      }
    }
    a {
      text-decoration: underline;
      &:visited {
        color: var(--color-black);
      }
    }
  }
}
