/* Navigation */
.navbar {
  display: block;
  padding: 15px 25px;
  background-color: var(--color-primary);

  a.navbar-brand {
    text-decoration: none;
    margin: 0;

    img.imgtitle {
      width: 220px;
      display: block;
    }
  }

  button.navbar-toggler {
    color: #fff;
    border: none;
    outline: none;

    i {
      position: relative;
      top: 1px;
      font-size: 30px;
      vertical-align: top;
    }
  }

  select.language-select {
    text-align: center;
    font-size: 14px;
    appearance: none;
    border-radius: 35px;
    padding: 5px 10px;
    border: 2px solid white;
    color: white;
    background-color: transparent;
    outline: none;
    height: 36px;
    flex-grow: inherit;
    cursor: pointer;
  }

  ul.navbar-nav {
    display: flex;
    width: fit-content;

    a.nav-link {
      color: #fff;
      font-size: 14px;
      margin-left: 20px;

      &:hover {
        color: #7c7c7c;
      }

      button.btn-TOS {
        width: 100%;
        padding: 0;
        text-align: left;
        background-color: transparent;
        outline: none;
        border: none;
        color: #fff;

        &:hover {
          color: #7c7c7c;
        }
      }
    }
  }
}

/* Main Navigation */
#mainNav {
  .container {
    flex-wrap: nowrap;
    align-items: flex-start;

    .flex-wrapper {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 28px;

      @media screen and (max-width: 991.98px) {
        display: block;
      }

      .flex {
        display: flex;
        gap: 13px;
        select.language-select {
          margin-top: 2px;
        }
      }

      #navbarResponsive {
        ul.navbar-nav {
          padding-top: 0;

          @media screen and (max-width: 991.98px) {
            padding-top: 15px;
          }
        }
      }
    }
  }
}

/* Disease Navigation */
#diseaseNav {
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

    .inner-wrapper {
      display: flex;
      gap: 60px;
      align-items: center;
    }

      img.imgtitle {
        width: 180px;
      }

      .intro-text {
        outline: none;
        width: 700px;

        ul.token-input-list-facebook {
          margin: 0;
          width: 100%;

          li.token-input-input-token-facebook {
            #token-input-tokeninput {
              height: 20px;
              padding: 0;
              margin: 0;
            }
          }
        }
      }

    .navbar-right {
      display: flex;
      align-items: center;
      gap: 13px;
    }
  }

  .nav-wrapper {
    display: flex;
    justify-content: flex-end;

    ul.navbar-nav{
      display: flex;
      padding-top: 15px;
    }
  }
}
