$standard: 1040;
$z-index-navbar: 1030;
$z-index-modal: 1050;
$z-index-jumbotron: $z-index-navbar - 2;
$z-index-intro-text: $standard - 1;
$z-index-primary: $z-index-modal - 1;


body{
	font-family: 'Renner*','Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
}

p{
	color: #696969;
	font-size: 13px;
}
h5{
    font-size: 1em;
}


.container{
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
	.imgtitle{
		width: 300px;
	}
	h2{
		letter-spacing: 3px;
	}
}


.br::before{
	content: "\A";
	white-space: pre;
}
		

.navbar{
	background-color: rgba(255,255,255,0.8);
	top: 0;
	.container {
		a {
			text-decoration: none;
				.imgtitle{
					width: 120px;
					display: block;	
				}
				.imgscroll{
					width: 120px;
					display: none;
			}
		}
		.navbar-toggler{
			background-color: transparent;
			cursor: pointer;
			outline: none;
			padding: 0;
			appearance: none;
			border-radius: 0;
			border: 1px solid #696969;
			color: #696969;
			font-size: 13px;
			padding: 5px 0;
			width: 30px;
			height: 30px;
			}

		.collapse{
			ul{
				li{
					.btn-TOS{
						background-color: transparent;
						cursor: pointer;
						outline: none;
						padding: 0;
						appearance: none;
						border-radius: 0;
						border: none;
						color: #696969;
					}
					.btn-TOS:hover{
						color: #495AFF;
					}
					a{
						color: #696969;
					}
					a:hover{
						color: #495AFF;
					}
				}
			}
		}

	}

}

.navbar.scroll{
	background-color:#13295A;
	top: 0;
	.collapse{
		ul{
			li{
				.btn-TOS{
					background-color: transparent;
					cursor: pointer;
					outline: none;
					padding: 0;
					appearance: none;
					border-radius: 0;
					border: none;
					color: #dcdcdc;
				}
				.btn-TOS:hover{
					color: #696969;
				}
				a{
					color: #dcdcdc;
				}
				a:hover{
					color: #696969;
				}
			}
		}
	}
	a {
		text-decoration: none;
			.imgtitle{
				width: 120px;
				display: none;
			}
			.imgscroll{
				width: 120px;
				display: block;
		}
	}
}

.nav-link{
	color: #000;
	font-size: 14px;
	margin-left: 20px;
}


header{
	&.masthead{
	position: relative;
	.main_top{
		position: absolute;
		top: 0;
		right: 0;
		width: 60%;
		max-width: 825px;
	}
	.main_bottom{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 40%;
		max-width: 550px;
	}
	}
	&.jumbotron{
	margin: 0 auto;
	//background: -moz-linear-gradient(left,#d5d9f2,#FFF 50%,#d5d9f2);
	//background: -webkit-linear-gradient(left,#d5d9f2,#FFF 50%,#d5d9f2); 
	//background-image: linear-gradient(left,#d5d9f2,#FFF 50%,#d5d9f2), url(../img/main_top.png), url(../img/main_bottom.png);
	background-image: url(../img/main_top.png), url(../img/main_bottom.png),
	linear-gradient(to left, #d5d9f2 0%, white 50%, #d5d9f2 100%);
	background-position: right top, left bottom, 0 0;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-size: 70%, 45%, 100%;
	border-radius: 0;
	height: 550px;
	overflow: hidden;
	}
	.intro-text{
	text-align: center;
	margin-top: 150px;
	z-index: $z-index-intro-text;
	h1{
	 display:block;
	 font-size: 70px;
	}
	h2{
	 display:block;
	 color: #13295A;
	 font-size: 20px;
	}
	 p{ 
	 display:block;
	 letter-spacing: 2px;
	 font-size: 13px;
	 }
}
}

#primary{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	.container{
	 display: flex;
	 width: 570px;
	 background-color: #fff;
	 box-shadow: 0 0 4px rgba(0,0,0,.3);
	 position: relative;
	 margin-top: -90px;
	.subnav{
	&.second{
	border-left: 1px solid #f5f5f5;
	border-right: 1px solid #f5f5f5;
	}     
	.btn-primary{
		&:focus{
			box-shadow: none;
		}
	 border: none;
	 cursor: pointer;
	 outline: none;
	 padding: 0;
	 appearance: none;
	 border-radius: 0;
	 width: 190px;
	 height: 190px;
	 padding: 15px;
	 background-color: #fff;
	 .img{
		display: block;
		width: 35%;
		height: 35%;
		margin:0 auto;
		margin-top:22px;
		.imgnormal{
			display: block;
		}
		.imghover{
			display: none;
		}
	   }    
	   h4{
		color: #696969;
		font-size: 13px;
		margin-top: 10px;
		letter-spacing: 1px;
	   }
	   p{
		color: #13295A;
		font-size: 30px;
		font-weight: bold; 
		margin-top: -14px;
	   }
	}
	.btn-primary:hover {
		animation-name: hover;
		animation-duration: .3s;
		animation-timing-function: linear;
		animation-fill-mode: forwards;
		.img{
			.imgnormal{
				display: none;
			}
			.imghover{
				display: block;
			}
		   } 
		background-color:#13295A;
		h4{
			color: #FFF;
		}
		p{
			color: #fff;
		}
	}
	@keyframes hover {
		from {
			background-color:#13295A;
			border-radius: 20px;
			opacity: 0;
		}

		to {
			background-color:#13295A;
			border-radius: 0px;
			opacity: 1;
		}}
	}
}
}


#service{
	margin-top: 70px;
	.container{
	display: block;
	margin: 0 auto;
	h3{
	 text-align: center;
	 display:block;
	 color: #13295A;
	 font-size: 20px;
	}
	p{
	 text-align: center;
	 letter-spacing: 1px; 
	 margin-bottom: 20px;
	}
	.cardWrapper{
	 display: flex;
	 margin-bottom: 50px;
	 justify-content: center;
	}
	.card{
	 width: 290px;
	 height: auto;
	 border-radius: 0;
	 margin: 0 20px;
	 border: none;
	 box-shadow: 0 0 4px rgba(0,0,0,.3);
	}
		.card-body{
		padding: 2rem;
			.icon2{
			width: 60px;
			padding-bottom: 20px;
			/* height: 30%; */
			display: block;
			margin: 0 auto;
			}
			.card-title{
			text-align: center;
			font-size: 17px;
			color:#13295A;
			letter-spacing: 1px;
			}
			.card-text{
			text-align: left;
			}
			.btn-primary{
				&:focus{
					box-shadow: none;
				}
				background-color: transparent;
				cursor: pointer;
				outline: none;
				padding: 0;
				appearance: none;
				border-radius: 0;
				width: 100%;
				border: 1px solid #495AFF;
				color: #495AFF;
				font-size: 13px;
				padding: 5px 0;
				margin-bottom: 20px;
				}
				.btn-primary:hover {
					color: #ffffff;
					background-color: #495AFF;
				}
				.btn-primary:active {
					color: #ffffff;
					background-color: #495AFF;
			}
	}
	.card-img-top{
	 border-radius: 0;
	}         
	}
}



.about{
	padding:70px 0;
	background-color: #EDF3FF;
	.container{
		h3{
		text-align: center;
		display:block;
		font-size: 20px;
		margin-bottom: 20px;
		}
		h4{
			display:inline-block;
		&::before{
			content: "";
			display: inline-block;
			width: 30px;
			border-top: 2px solid #495AFF;
			position: absolute;
			top: 0;
			left: 0;
			margin-top: -15px;
		}
		position: relative;
		font-size: 16px;
		color: #13295A;
		}
		p{
		text-align: left;
		letter-spacing: 1px; 
		margin-bottom: 40px;
		}
	}
}

.news{
	padding-top:70px;
	-bottom:30px;
	background: -moz-linear-gradient(top, #13295A 20%, #495AFF);
	background: -webkit-linear-gradient(top, #13295A 20%, #495AFF);
	background: linear-gradient(to bottom, #13295A 20%, #495AFF);
	.container{
	display: flex;
	.updata{
	display: block;
	color: #fff;
	font-size: 14px;
	min-width: 72px;        
	}
	.logdata {
	list-style: none;
	li {
	padding-bottom: 7px;
	display: flex;
	time {
	color: #FFF;
	display: block;
	font-size: 14px;
	margin-right: 20px;
	}
	p {
	display: block;
	font-size: 14px;
	color: #FFF;
	.policy{
		text-decoration: none;
		color: #13295A;
	}
	.policy:hover{
		color: #495AFF;
	}
	}
	}
}
}
}

/*
.modal-backdrop {
	z-index: 1;
}
*/

.modal-content{
	text-align: center;
	border-radius:0;
	padding: 35px;
	.modal-body{
		.btn-secondary{
			&:focus{
				box-shadow: none;
			}
			background-color: transparent;
			cursor: pointer;
			outline: none;
			padding: 0;
			appearance: none;
			border-radius: 0;
			width: 20%;
			border: 1px solid #495AFF;
			color: #495AFF;
			font-size: 13px;
			padding: 5px 0;
			}
			.btn-secondary:hover {
				color: #ffffff;
				background-color: #495AFF;
			}
			.btn-secondary:active {
				color: #ffffff;
				background-color: #495AFF;
		}
		.modalContent{
				img{
					margin-bottom: 20px;
				}
				h5{
					font-size: 20px;
				}
				p{
					margin-top: 10px;
					margin-bottom: 30px;
				}
				table{
					border-collapse:collapse;
					margin:0 auto;
					margin-bottom: 40px;
				  }
				  th{
					color:#000;
				  }
				  td{
					border-bottom:1px dashed #dcdcdc;
					text-align: left;
					font-size: 15px;
					a{
						text-decoration: none;
						color: #495AFF;
					}
					a:hover{
						color: #c0c0c0;
					}
					a::before {
						font-family: "Font Awesome 5 Free";
						font-weight: 900;
						content: "\f15c";
						margin-right: 8px;
						width: 80%;
					}
				  }
				  th{
					border-top:1px solid #c0c0c0;
					border-bottom:1px solid #c0c0c0;
				  }
				  tr:last-child td{
					border-bottom:1px solid #c0c0c0;
				  }
				  td,th{
					padding:10px;
				  }
		}
		.modalContent_TOS{
			img{
				margin-bottom: 20px;
			}
			h5{
				font-size: 30px;
				color: #13295A;
				letter-spacing: 1px;
			}
			h5::before {
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
				content: "\f02d";
				margin-right: 8px;
				width: 80%;
				color: #495AFF;
			}
			p{
				margin-top: 10px;
				margin-bottom: 30px;
			}
	}
	}
}