@charset "UTF-8";
body {
  font-family: "Renner*", "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic";
}

p {
  color: #696969;
  font-size: 13px;
}

h5 {
  font-size: 1em;
}

#content {
  width: 100%;
}

#temp-side-navigation {
  margin-top: 50px;
}
#temp-side-navigation ul {
  padding: 0;
  list-style-type: none;
}
#temp-side-navigation ul li:last-child a {
  border-bottom: 1px dashed white;
}
#temp-side-navigation a {
  display: block;
  border-top: 1px dashed white;
  border-radius: 2px;
  padding: 10px;
  color: white;
  text-decoration: none;
  margin-bottom: -1px;
}
#temp-side-navigation a:not(.selected):hover {
  background: rgba(255, 255, 255, 0.5);
}
#temp-side-navigation .selected {
  background: white;
  color: #13295a;
}

#data-wrapper {
  width: 80vw;
}

#temp-data-summary a {
  text-decoration: underline;
}
#temp-data-summary h2 {
  font-weight: bold;
}

#temp-properties {
  display: block;
}

#temp-phenotype-view {
  display: block;
}

#temp-disease-definition .google-translate {
  color: #0431b4;
}

.summary-header {
  margin-top: 5px;
}

#sidebar {
  --padding-inline: 8px;
}
#sidebar .nav-link {
  margin: 0;
  margin-top: -1.5px;
}

.navigation-title {
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #041435;
  padding: 2px var(--padding-inline);
  margin: 0px calc(var(--padding-inline) * -1) 8px;
}

#temp-aliases,
.temp-wrapper {
  margin-top: 5px;
}
#temp-aliases .inheritance-uris,
.temp-wrapper .inheritance-uris {
  display: flex;
}
#temp-aliases .properties,
.temp-wrapper .properties {
  margin-bottom: 20px;
}

.tree .cp_sl03:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.container {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}
.container .imgtitle {
  width: 300px;
}
.container h2 {
  letter-spacing: 3px;
}

.br::before {
  content: "\a";
  white-space: pre;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.8);
  top: 0;
}
.navbar .container a {
  text-decoration: none;
}
.navbar .container a .imgtitle {
  width: 120px;
  display: block;
}
.navbar .container a .imgscroll {
  width: 120px;
  display: none;
}
.navbar .container .navbar-toggler {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  border: 1px solid #696969;
  color: #696969;
  font-size: 13px;
  padding: 5px 0;
  width: 30px;
  height: 30px;
}
.navbar .container .collapse ul li .btn-TOS {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  border: none;
  color: #696969;
}
.navbar .container .collapse ul li .btn-TOS:hover {
  color: #495aff;
}
.navbar .container .collapse ul li a {
  color: #696969;
}
.navbar .container .collapse ul li a:hover {
  color: #495aff;
}
.navbar .navbar-right {
  display: flex;
}
.navbar .language-select {
  margin-left: 15px;
  font-size: 14px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 35px;
  padding: 5px 10px;
  border: 2px solid white;
  color: white;
  background-color: #147786;
  outline: none;
}

.navbar.scroll {
  background-color: #13295a;
  top: 0;
}
.navbar.scroll .collapse ul li .btn-TOS {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  border: none;
  color: #dcdcdc;
}
.navbar.scroll .collapse ul li .btn-TOS:hover {
  color: #696969;
}
.navbar.scroll .collapse ul li a {
  color: #dcdcdc;
}
.navbar.scroll .collapse ul li a:hover {
  color: #696969;
}
.navbar.scroll a {
  text-decoration: none;
}
.navbar.scroll a .imgtitle {
  width: 120px;
  display: none;
}
.navbar.scroll a .imgscroll {
  width: 120px;
  display: block;
}

.inspection-view {
  padding-top: 0px !important;
}

.nav-link {
  color: #000;
  font-size: 14px;
}

header.masthead {
  position: relative;
}
header.masthead .main_top {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  max-width: 825px;
}
header.masthead .main_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40%;
  max-width: 550px;
}
header.jumbotron {
  margin: 0 auto;
  background-image: url(../img/main_top.png), url(../img/main_bottom.png), linear-gradient(to left, #d5d9f2 0%, white 50%, #d5d9f2 100%);
  background-position: right top, left bottom, 0 0;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 70%, 45%, 100%;
  border-radius: 0;
  height: 550px;
  overflow: hidden;
}
header .intro-text {
  text-align: center;
  margin-top: 150px;
  z-index: 1039;
}
header .intro-text h1 {
  display: block;
  font-size: 70px;
}
header .intro-text h2 {
  display: block;
  color: #13295a;
  font-size: 20px;
}
header .intro-text p {
  display: block;
  letter-spacing: 2px;
  font-size: 13px;
}

#primary {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
#primary .container {
  display: flex;
  width: 570px;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  position: relative;
  margin-top: -90px;
}
#primary .container .subnav.second {
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
}
#primary .container .subnav .btn-primary {
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  width: 190px;
  height: 190px;
  padding: 15px;
  background-color: #fff;
}
#primary .container .subnav .btn-primary:focus {
  box-shadow: none;
}
#primary .container .subnav .btn-primary .img {
  display: block;
  width: 35%;
  height: 35%;
  margin: 0 auto;
  margin-top: 22px;
}
#primary .container .subnav .btn-primary .img .imgnormal {
  display: block;
}
#primary .container .subnav .btn-primary .img .imghover {
  display: none;
}
#primary .container .subnav .btn-primary h4 {
  color: #696969;
  font-size: 13px;
  margin-top: 10px;
  letter-spacing: 1px;
}
#primary .container .subnav .btn-primary p {
  color: #13295a;
  font-size: 30px;
  font-weight: bold;
  margin-top: -14px;
}
#primary .container .subnav .btn-primary:hover {
  animation-name: hover;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  background-color: #13295a;
}
#primary .container .subnav .btn-primary:hover .img .imgnormal {
  display: none;
}
#primary .container .subnav .btn-primary:hover .img .imghover {
  display: block;
}
#primary .container .subnav .btn-primary:hover h4 {
  color: #fff;
}
#primary .container .subnav .btn-primary:hover p {
  color: #fff;
}
@keyframes hover {
  from {
    background-color: #13295a;
    border-radius: 20px;
    opacity: 0;
  }
  to {
    background-color: #13295a;
    border-radius: 0px;
    opacity: 1;
  }
}

#service {
  margin-top: 70px;
}
#service .container {
  display: block;
  margin: 0 auto;
}
#service .container h3 {
  text-align: center;
  display: block;
  color: #13295a;
  font-size: 20px;
}
#service .container p {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
#service .container .cardWrapper {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
#service .container .card {
  width: 290px;
  height: auto;
  border-radius: 0;
  margin: 0 20px;
  border: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
#service .container .card-body {
  padding: 2rem;
}
#service .container .card-body .icon2 {
  width: 60px;
  padding-bottom: 20px;
  /* height: 30%; */
  display: block;
  margin: 0 auto;
}
#service .container .card-body .card-title {
  text-align: center;
  font-size: 17px;
  color: #13295a;
  letter-spacing: 1px;
}
#service .container .card-body .card-text {
  text-align: left;
}
#service .container .card-body .btn-primary {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  width: 100%;
  border: 1px solid #495aff;
  color: #495aff;
  font-size: 13px;
  padding: 5px 0;
  margin-bottom: 20px;
}
#service .container .card-body .btn-primary:focus {
  box-shadow: none;
}
#service .container .card-body .btn-primary:hover {
  color: #ffffff;
  background-color: #495aff;
}
#service .container .card-body .btn-primary:active {
  color: #ffffff;
  background-color: #495aff;
}
#service .container .card-img-top {
  border-radius: 0;
}

.about {
  padding: 70px 0;
  background-color: #edf3ff;
}
.about .container h3 {
  text-align: center;
  display: block;
  font-size: 20px;
  margin-bottom: 20px;
}
.about .container h4 {
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #13295a;
}
.about .container h4::before {
  content: "";
  display: inline-block;
  width: 30px;
  border-top: 2px solid #495aff;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -15px;
}
.about .container p {
  text-align: left;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.news {
  padding-top: 70px;
  -bottom: 30px;
  background: linear-gradient(to bottom, #13295a 20%, #495aff);
}
.news .container {
  display: flex;
}
.news .container .updata {
  display: block;
  color: #fff;
  font-size: 14px;
  min-width: 72px;
}
.news .container .logdata {
  list-style: none;
}
.news .container .logdata li {
  padding-bottom: 7px;
  display: flex;
}
.news .container .logdata li time {
  color: #fff;
  display: block;
  font-size: 14px;
  margin-right: 20px;
}
.news .container .logdata li p {
  display: block;
  font-size: 14px;
  color: #fff;
}
.news .container .logdata li p .policy {
  text-decoration: none;
  color: #13295a;
}
.news .container .logdata li p .policy:hover {
  color: #495aff;
}

.modal-content {
  text-align: center;
  border-radius: 0;
  padding: 35px;
}
.modal-content .modal-body .btn-secondary {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  width: 20%;
  border: 1px solid #495aff;
  color: #495aff;
  font-size: 13px;
  padding: 5px 0;
}
.modal-content .modal-body .btn-secondary:focus {
  box-shadow: none;
}
.modal-content .modal-body .btn-secondary:hover {
  color: #ffffff;
  background-color: #495aff;
}
.modal-content .modal-body .btn-secondary:active {
  color: #ffffff;
  background-color: #495aff;
}
.modal-content .modal-body .modalContent img {
  margin-bottom: 20px;
}
.modal-content .modal-body .modalContent h5 {
  font-size: 20px;
}
.modal-content .modal-body .modalContent p {
  margin-top: 10px;
  margin-bottom: 30px;
}
.modal-content .modal-body .modalContent table {
  border-collapse: collapse;
  margin: 0 auto;
  margin-bottom: 40px;
}
.modal-content .modal-body .modalContent th {
  color: #000;
}
.modal-content .modal-body .modalContent td {
  border-bottom: 1px dashed #dcdcdc;
  text-align: left;
  font-size: 15px;
}
.modal-content .modal-body .modalContent td a {
  text-decoration: none;
  color: #495aff;
}
.modal-content .modal-body .modalContent td a:hover {
  color: #c0c0c0;
}
.modal-content .modal-body .modalContent td a::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f15c";
  margin-right: 8px;
  width: 80%;
}
.modal-content .modal-body .modalContent th {
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
}
.modal-content .modal-body .modalContent tr:last-child td {
  border-bottom: 1px solid #c0c0c0;
}
.modal-content .modal-body .modalContent td,
.modal-content .modal-body .modalContent th {
  padding: 10px;
}
.modal-content .modal-body .modalContent_TOS img {
  margin-bottom: 20px;
}
.modal-content .modal-body .modalContent_TOS h5 {
  font-size: 30px;
  color: #13295a;
  letter-spacing: 1px;
}
.modal-content .modal-body .modalContent_TOS h5::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f02d";
  margin-right: 8px;
  width: 80%;
  color: #495aff;
}
.modal-content .modal-body .modalContent_TOS p {
  margin-top: 10px;
  margin-bottom: 30px;
}

.temp-title {
  border-radius: 3px;
  background-color: #13295a;
  color: white;
  font-size: 14px;
  height: 28px;
  white-space: nowrap;
  font-weight: 600;
  padding: 6px 0;
  outline: none;
  position: relative;
  display: block;
  padding-left: 5px;
}/*# sourceMappingURL=style.css.map */