/* Summary wrapper */
.summary-wrapper {
  padding: var(--spacing-inner-box);
  border-radius: var(--radius-base);
  background-color: var(--color-primary-opacity2);

  #temp-aliases .inheritance-uris,
  .temp-wrapper .inheritance-uris {
    display: flex;
    > dl > dt {
      font-weight: bold;
    }
  }

  .properties {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  .aliases > dl {
    margin: 0 0 4px;
    border-radius: var(--radius-base);
    font-size: var(--font-size-small);
    > div {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 5px;
    }

    > {
      dt {
        font-weight: bold;
      }

      dd {
        -webkit-margin-start: 0;
        margin-inline-start: 0;
        display: inline;
      }
    }
  }
}
