{% if get_locale() == "ja" or get_locale() == "ja_JP" %}
<footer id="footer">
  <div class="container">
    <div class="footer__info">
      <div class="footer__organism">
        <img class="footer__logo" src="../static/img/logo_dbcls.svg" alt="DBCLSのロゴ" />
        <div class="footer__organism-text">
          <p class="footer__organism-sub">
            大学共同利用機関法人 情報・システム研究機構
          </p>
          <p class="footer__organism-sub">データサイエンス共同利用基盤施設</p>
          <p class="footer__organism-main">
            ライフサイエンス統合データベースセンター
          </p>
        </div>
      </div>
      <div class="footer__address">
        <h2 class="footer-title">Address</h2>
        <ul class="address__list">
          <li>
            <p>〒277-0871</p>
            <p>千葉県柏市若柴178-4-4</p>
            <p>東京大学柏の葉キャンパス <br />駅前サテライト6階</p>
            <p>
              TEL. 04-7135-5508（代表） <br />
              FAX. 04-7135-5534（代表）
            </p>
          </li>
          <li>
            <p>〒411-8540</p>
            <p>静岡県三島市谷田1111</p>
            <p>国立遺伝学研究所 <br />研究実験W棟412</p>
          </li>
        </ul>
      </div>
      <div class="footer__links">
        <h2 class="footer-title">Links</h2>
        <ul class="links__wrapper">
          <li class="individual_link">
            <a href="http://lifesciencedb.jp/">統合ホームページ</a>
          </li>
          <li class="individual_link">
            <a href="https://youtube.com/togotv/live">DBCLS on YouTubeLive</a>
          </li>
          <li class="individual_link">
            <a href="https://ds.rois.ac.jp/">データサイエンス共同利用基盤施設</a>
          </li>
          <li class="individual_link">
            <a href="http://www.rois.ac.jp/">情報・システム研究機構</a>
          </li>
          <li class="individual_link">
            <a href="http://www.mext.go.jp/">文部科学省</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      <ul class="footer__partners">
        <li>
          <a href="https://jbioinfo.jp/" target="_blank">
            <img class="logo__jbi" src="../static/img/jbi-3.png" alt="JBIロゴ" />
          </a>
        </li>
        <li>
          <a href="https://www.ddbj.nig.ac.jp/index.html" target="_blank">
            <img class="logo__ddbj" src="../static/img/ddbj.png" alt="DDBJロゴ" />
          </a>
        </li>
        <li>
          <a href="https://biosciencedbc.jp/" target="_blank">
            <img class="logo__nbdc" src="../static/img/nbdc.png" alt="NBDCロゴ" />
          </a>
        </li>
        <li>
          <a href="https://pdbj.org/" target="_blank">
            <img class="logo__pdbj" src="../static/img/pdbj.png" alt="PDBJロゴ" />
          </a>
        </li>
      </ul>
      <div class="footer__lisence">
        <small>
          &copy; 2018 DBCLS, Licensed under
          <a href="https://creativecommons.org/licenses/by/4.0/deed.ja" target="_blank">Creative Commons Attribution 4.0
            International license (CC-BY
            4.0)</a>
        </small>
      </div>
    </div>
  </div>
</footer>

{% else %}
<footer id="footer">
  <div class="container">
    <div class="footer__info">
      <div class="footer__organism">
        <img class="footer__logo" src="../static/img/logo_dbcls.svg" alt="DBCLS logo" />
        <div class="footer__organism-text">
          <p class="footer__organism-main">Database Center for Life Science</p>
          <p class="footer__organism-sub">
            Joint Support-Center for Data Science Research
          </p>
          <p class="footer__organism-sub">
            Research Organization of Information and Systems
          </p>
        </div>
      </div>
      <div class="footer__address">
        <h2 class="footer-title">Address</h2>
        <ul class="address__list">
          <li>
            <h2 class="footer-title">Kashiwa branch</h2>
            <p>Univ. of Tokyo Kashiwanoha-campus Station Satellite 6F</p>
            <p>178-4-4 Wakashiba, Kashiwa, Chiba 277-0871, JAPAN</p>
            <p>TEL +81-4-7135-5508</p>
            <p>FAX +81-4-7135-5534</p>
          </li>
          <li>
            <h2 class="footer-title">Mishima branch</h2>
            <p>
              Laboratory Building W412, <br />National Institute of Genetics
            </p>
            <p>Yata 1111, Mishima, Shizuoka 411-8540, JAPAN</p>
          </li>
        </ul>
      </div>
      <div class="footer__links">
        <h2 class="footer-title">Links</h2>
        <ul class="links__wrapper">
          <li class="individual_link">
            <a href="http://lifesciencedb.jp/?lng=en"
              title="portal site for the Integrated Database Project funded by the MEXT of Japan." target="_blank">LSDB
              Home Page</a>
          </li>
          <li class="individual_link">
            <a href="https://youtube.com/togotv/live" title="TogoTV channel on YouTubeLive" target="_blank">DBCLS on
              YouTubeLive</a>
          </li>
          <li class="individual_link">
            <a href="https://ds.rois.ac.jp/" title="Joint Support-Center for Data Science Research homepage"
              target="_blank">Joint Support-Center for Data Science Research</a>
          </li>
          <li class="individual_link">
            <a href="http://www.rois.ac.jp/en/" title="ROIS homepage" target="_blank">Research Organization of
              Information and Systems</a>
          </li>
          <li class="individual_link">
            <a href="http://www.mext.go.jp/en/" title="MEXT homepage" target="_blank">Ministry of Education, Culture,
              Sports, Science and Technology</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      <ul class="footer__partners">
        <li>
          <a href="https://jbioinfo.jp/" target="_blank">
            <img class="logo__jbi" src="../static/img/jbi-3.png" alt="jbi logo" />
          </a>
        </li>
        <li>
          <a href="https://www.ddbj.nig.ac.jp/index.html" target="_blank">
            <img class="logo__ddbj" src="../static/img/ddbj.png" alt="ddbj logo" />
          </a>
        </li>
        <li>
          <a href="https://biosciencedbc.jp/" target="_blank">
            <img class="logo__nbdc" src="../static/img/nbdc.png" alt="nbdc logo" />
          </a>
        </li>
        <li>
          <a href="https://pdbj.org/" target="_blank">
            <img class="logo__pdbj" src="../static/img/pdbj.png" alt="pdbj logo" />
          </a>
        </li>
      </ul>
      <div class="footer__lisence">
        <small>
          &copy; 2018 DBCLS, Licensed under
          <a href="https://creativecommons.org/licenses/by/4.0/deed.ja" target="_blank">
            Creative Commons Attribution 4.0 International license (CC-BY 4.0)
          </a>
        </small>
      </div>
    </div>
  </div>
</footer>
{% endif %}