<div class="modal fade" id="demoNormalModal_TOS" tabindex="-1" role="dialog" aria-labelledby="modal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body content-tos">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title modal-title" id="demoModalTitle">NanbyoData Terms of Use</h3>
        <p>
NanbyoData provides data in good faith, but does not verify the accuracy, clinical validity, or utility of the data. The Database Center for Life Science (DBCLS) does not assume any responsibility, either expressed or implied, for any actions taken by users using this data. DBCLS also bears no responsibility for any damages suffered due to changes, interruptions, or termination of this service. Additionally, these terms are in accordance with the <a class="policy" href="https://dbcls.rois.ac.jp/policy.html">"Disclaimer"</a> section of the Life Science Integrated Database Center's site policy.
        </p>
        <div class="btn-close">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
        </div>
      </div>
    </div>
  </div>
</div>
