<!doctype html>

{% if get_locale() == "ja" or get_locale() == "ja_JP" %}
<html lang="ja">
{% elif get_locale() == "ko" or get_locale() == "ko_KR" %}
<html lang="ko">
{% else %}
<html lang="en">
{% endif %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- SEO -->
  <title>About | NANDO</title>
  <meta name="description" content="NANDO Overview Page" />
  <meta property="og:site_name" content="NanbyoData" />
  <meta property="og:title" content="About NANDO | NanbyoData" />
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://nanbyodata.jp/about_nando" />
  <meta property="og:description" content="NANDO Overview Page" />
  <meta property="og:image" content="/static/img/ogp_img.png" />
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://indestructibletype-fonthosting.github.io/renner.css" type="text/css"
    charset="utf-8" />
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/static/sass/main.css">

  <!-- favicon -->
  <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">

</head>

<body>
  <main>

    <!-- Navigation -->
    {% include 'component/navigation.html' %}

    <div class="page-layout">
      <header class="page-title">
        <h2>About NANDO</h2>
      </header>

      {% if get_locale() == "ja" or get_locale() == "ja_JP" %}
      <div class="contents-wrapper">
        <div class="content-block">
          <h3 class="content-title">概要</h3>
          <p>
	    <b>NANDO（Nanbyo Disease Ontology）</b>は、日本の厚生労働省が定める「指定難病制度」および「小児慢性特定疾病制度」の対象疾患を、体系的かつ網羅的に整理した国内初の難病語彙集（オントロジー）です。
	    2021年に正式版をリリースし、それぞれの制度の更新に合わせて継続的にアップデートしています。
	    NANDOは、日本国内の難病情報を統合し、国際的な疾患データベースとの互換性を高めることで、標準化と相互運用性の向上を目指しています。
	    その一環として、国際的な希少疾患語彙集である<a href="https://mondo.monarchinitiative.org/">MONDO（Mondo Disease Ontology）</a>と相互連携し、難病に関する国際的なデータ共有を可能にしています。<br>
            <a href="http://nanbyodata.jp/ontology/nando"><b>・語彙一覧</b></a><br>
          </p>
        </div>

        <div class="content-block">
          <h3 class="content-title">ダウンロード・ライセンス</h3>
          <p>
	    NANDOは<a href="https://creativecommons.org/licenses/by/4.0/deed.ja">クリエイティブ・コモンズ【表示4.0国際】</a>の下に提供されています。
	    データは、研究、教育、商用利用を含むさまざまな目的で自由にご利用いただけます。ご利用の際は、出典として「Nanbyo Disease Ontology (NANDO), DBCLS」を明記してください。
          </p>
	  <a href="https://nanbyodata.jp/download/latest/"><b>・NANDOファイル一覧</b></a><br>
        </div>

        <div class="content-block">
          <h3 class="content-title">構築方法</h3>
          <p>
	    NANDOは、日本の厚生労働省が定める「指定難病制度」および「小児慢性特定疾病制度」に基づいて構築されています。各難病の下位階層の難病名を収集し、親子関係を整理することで体系化し、オントロジーとして構造化しました。  
	    また、日本語難病名を英訳し、Mondoとのマッピングを行うとともに、OrphanetやMedGenなどの国際的なデータベースとの対応関係を確立しました。最終的に臨床遺伝専門医の監修を経て、オントロジー形式に加え、エクセル形式でも提供し、幅広い用途に対応できるよう整備しています。
          </p>
        </div>

        <div class="content-block">
          <h3 class="content-title">統計情報</h3>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>データ項目</th>
                <th>数</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>総疾患数</td>
                <td>2,800以上</td>
              </tr>
              <tr>
                <td>データベースクロスリファレンス</td>
                <td>6,000以上</td>
              </tr>
              <tr>
                <td>用語定義</td>
                <td>1,300以上</td>
              </tr>
              <tr>
                <td>同義語（日本語、英語を含む）</td>
                <td>3,000以上</td>
              </tr>
            </tbody>
          </table>
        </div>

	<!--
        <div class="content-block">
          <h3 class="content-title">貢献方法</h3>
          <p>
            GitHub のリポジトリで Issue を報告したり、Pull Request を送ることで、NANDO の改善に貢献できます。
            <a href="https://github.com/dbcls/nando">GitHubリポジトリはこちら</a>。
          </p>
        </div>
	-->

	<div class="content-block">
          <h3 class="content-title">免責事項</h3>
          <p>
            NanbyoData及びNANDOは誠実にデータを提供しますが、データの正確性、臨床的妥当性または有用性を検証することはありません。DBCLSは、明示的にも黙示的にも、利用者が当データを用いて行う一切の行為について、何ら責任を負うものではありません。DBCLSは、本サービスの変更、中断、または終了により被った損害に関しても、何ら責任を負うものではありません。また、ライフサイエンス統合データベースセンターのサイト・ポリシー内「<a
              class="policy" href="https://dbcls.rois.ac.jp/policy.html">免責事項</a>」にも準ずるものとします。
          </p>
        </div>

        <div class="content-block">
          <h3 class="content-title">お問い合わせ</h3>
          <p>
            NANDO に関するお問い合わせは、以下のメールアドレスまでご連絡ください。<br>
            <a href="mailto:nanbyodata@dbcls.rois.ac.jp">nanbyodata@dbcls.rois.ac.jp</a>
          </p>
        </div>

      </div>
      {% else %}
      <div class="contents-wrapper">
        <div class="content-block">
          <h3 class="content-title">About</h3>
          <p>
            <strong>NANDO (Nanbyo Disease Ontology)</strong> is an ontology designed to classify and systematize diseases covered under Japan’s "Designated Intractable Diseases" and "Specified Chronic Diseases of Children" programs.
            NANDO integrates domestic rare disease information and enhances standardization and interoperability with international rare disease databases.

	    NANDO (Nanbyo Disease Ontology) is Japan's first comprehensive ontology of intractable and rare disease terminology, systematically organizing diseases covered under the Designated Intractable Disease System and the Pediatric Chronic Specific Disease System, as defined by the Ministry of Health, Labour and Welfare of Japan.  
	    The official version of NANDO was released in 2021, and it has been continuously updated to reflect revisions to these systems. By integrating Japan's intractable disease information and enhancing compatibility with international disease databases, NANDO aims to improve standardization and interoperability.  
	    As part of this effort, NANDO is interoperable with the international rare disease ontology, <a href="https://mondo.monarchinitiative.org/">MONDO (Mondo Disease Ontology)</a>, enabling global data sharing on intractable diseases.<br>
            <a href="http://nanbyodata.jp/ontology/nando"><b> - Vocabulary list</b></a>
          </p>
        </div>

	<div class="content-block">
	  <h3 class="content-title">Download & License</h3>
	  <p>
	    NANDO is provided under the <a href="https://creativecommons.org/licenses/by/4.0/deed.en">Creative Commons Attribution 4.0 International License</a>.
	    The data can be freely used for various purposes, including research, education, and commercial use. When using the data, please credit it as "Nanbyo Disease Ontology (NANDO), DBCLS".
	  </p>
	  <a href="https://nanbyodata.jp/download/latest/"><b>・List of NANDO Files</b></a><br>
	</div>
	
        <div class="content-block">
          <h3 class="content-title">How to develop</h3>
          <p>
	    NANDO is constructed based on the Designated Intractable Disease System and the Pediatric Chronic Specific Disease System, as defined by the Ministry of Health, Labour and Welfare of Japan. It systematically organizes diseases by extracting lower-level disease names, structuring them into hierarchical parent-child relationships, and formalizing them as an ontology.  
	    Additionally, nanbyo disease names have been translated into English, and mappings to Mondo have been established. NANDO also aligns with international disease databases such as Orphanet and MedGen. After review by clinical genetic specialists, the data is made available not only in ontology format but also in an Excel format to accommodate a wide range of use cases.
          </p>
        </div>

        <div class="content-block">
          <h3 class="content-title">Summary statistics</h3>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Feature</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Total number of terms</td>
                <td>2,800+</td>
              </tr>
              <tr>
                <td>Database cross references</td>
                <td>6,000+</td>
              </tr>
              <tr>
                <td>Term definitions</td>
                <td>1,300+</td>
              </tr>
              <tr>
                <td>Synonyms</td>
                <td>3,000+</td>
              </tr>
            </tbody>
          </table>
        </div>

	<!--
        <div class="content-block">
          <h3 class="content-title">Contribute</h3>
          <p>
            Contributions to NANDO can be made through GitHub by reporting issues or submitting pull requests.
            <a href="https://github.com/dbcls/nando">GitHub repository here</a>.
          </p>
        </div>
	-->

	<div class="content-block">
          <h3 class="content-title">Disclaimer</h3>
          <p>
NanbyoData and NANDO strive to provide data in good faith, but do not verify the accuracy, clinical validity, or usefulness of the data. The Database Center for Life Science (DBCLS) bears no responsibility, either expressed or implied, for any actions taken by users using this data. DBCLS also bears no responsibility for any damages incurred due to changes, interruptions, or cessation of this service. Additionally, the terms of this disclaimer align with those outlined in the <a class="policy" href="https://dbcls.rois.ac.jp/policy.html">"Disclaimer"</a> section of the Life Science Integrated Database Center's site policy.
          </p>
        </div>

        <div class="content-block">
          <h3 class="content-title">Contact</h3>
          <p>
            For inquiries regarding NANDO, please contact us at:<br>
            <a href="mailto:nanbyodata@dbcls.rois.ac.jp">nanbyodata@dbcls.rois.ac.jp</a>
          </p>
        </div>
      </div>
      {% endif %}
    </div>

    <!--- footer --->
    {% include 'component/footer.html' %}

    <!--- NanbyoData利用規約 modal -->
    {% if get_locale() == "ja" or get_locale() == "ja_JP" %}
    {% include 'component/modal-tos.html' %}
    {% else %}
    {% include 'component/modal-tos_en.html' %}
    {% endif %}
    
  </main>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
  <script type="module" src="/static/js/main.js"></script>
</body>

</html>
