<!doctype html>
<html lang="ja">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/static/sass/main.css">
	<link rel="stylesheet" href="https://indestructibletype-fonthosting.github.io/renner.css" type="text/css"
		charset="utf-8" />
	<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

	<!-- Disease CSS -->
	<link rel="stylesheet" type="text/css" href="/static/sass/disease.css">

	<title>NanbyoData</title>

        <!-- TokenInput -->
        <link rel="stylesheet" type="text/css" href="/static/sass/token-input-facebook.css">
        <link rel="stylesheet" type="text/css" href="/static/sass/tokeninput.css">
        <script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.tokeninput.js"></script>
        <script type="text/javascript" src="/static/js/tokeninput_disease.js"></script>

	<!-- TogoStanza -->
	<!--script src="/static/js/webcomponents-loader.js"></script-->
	<script src="https://cdn.jsdelivr.net/npm/@webcomponents/webcomponentsjs@1.3.0/webcomponents-loader.js" crossorigin></script>
	<link rel="import" href="https://nanbyodata.jp/stanza/nando_entry/" />
	<link rel="import" href="https://nanbyodata.jp/stanza/medgen_entry/" />

</head>

<body>
        <script
	   type="text/javascript"
	   src="https://dbcls.rois.ac.jp/DBCLS-common-header-footer/v2/script/common-header-and-footer.js"
	   style="display: block"
	   id="common-header-and-footer__script"
           data-width="976"
	></script>

	<main>
	  <!--div id="gray-wrapper"-->

	  <!-- Navigation -->
	  <nav class="navbar navbar-light bg-light fixed-top">
	    <div id="logo">
	      <a class="navbar-brand" href="https://nanbyodata.jp/">
		<img class="imgtitle imgscroll" src="/static/img/NanbyoData_black_w.svg"></a>
	    </div>
	    
            <div class="intro-text" id="intro-text_head">
	      <div class="search" id="search_head">
		<div id="blank_head"></div>
	      </div>
	    </div>

	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar1">
	      ☰
	    </button>
	    <div class="navbar-collapse collapse" id="collapsingNavbar1">
	      <ul class="nav navbar-nav">
		<li class="nav-item">
		  <a class="nav-link" href="/about_nando">ABOUT</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="/#third">DOWNLOAD</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="#"><button type="button" class="btn-TOS" data-toggle="modal"
						       data-target="#demoNormalModal_TOS">TERMS</button></a>
		</li>
		<li class="nav-item">
		  <a class="nav-link js-scroll-trigger" title="Comments & suggestions are welcome!"
		     href="mailto:pubcasefinder@dbcls.rois.ac.jp">CONTACT</a>
		</li>
	      </ul>
	    </div>
	  </nav>

	  <!-- Sidebar -->
	  <div id="sidebar">

	    <!-- パンくずリスト -->
	    {{ breadcrumb_list_html |safe }}

	    <!-- 見出しナビ -->
	    <!-- div class="toc">
	      <ul>
		<li><a href="#id">ID番号</a></li>
		<li>
		  <a href="#title">疾患名</a>
		</li>
		<li><a href="#link">リンク一覧</a></li>
		<li><a href="#summary">概要</a></li>
		<li><a href="#from1">From MedGen</a></li>
		<li><a href="#from2">From Monarch Initiative</a>
		  <ul>
		    <li><a href="#from2-1">疫学</a></li>
		    <li><a href="#from2-2">基礎研究</a></li>
		  </ul>
		</li>
	      </ul>
	      <svg class="toc-marker" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
		<path stroke="#fff" stroke-width="2" fill="transparent" stroke-dasharray="0, 0, 0, 1000"
		      stroke-linecap="round" stroke-linejoin="round" transform="translate(-0.5, -0.5)" />
	      </svg>
	    </div -->

	  </div>
	  
	  <!-- Contents -->
	  <script type="module" src="https://togostanza.github.io/metastanza/pagination-table.js" async></script>
	  <div id="content">
	    <togostanza-nando_entry nando_id='{{ id_nando }}'></togostanza-nando_entry>
	  </div>

	  <!--- modal　内容 -->
	  <div class="modal fade" id="demoNormalModal_TOS" tabindex="-1" role="dialog" aria-labelledby="modal"
	       aria-hidden="true">
	    <div class="modal-dialog modal-lg" role="document">
	      <div class="modal-content">
		<div class="modal-body">
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		  <div class="modalContent_TOS">
		    <h5 class="modal-title modal-title" id="demoModalTitle">NanbyoData利用規約</h5>
		    <p>
		      NanbyoDataは誠実にデータを提供しますが、データの正確性、臨床的妥当性または有用性を検証することはありません。DBCLSは、明示的にも黙示的にも、利用者が当データを用いて行う一切の行為について、何ら責任を負うものではありません。DBCLSは、本サービスの変更、中断、または終了により被った損害に関しても、何ら責任を負うものではありません。また、ライフサイエンス統合データベースセンターのサイト・ポリシー内「<a
									class="policy"
									href="https://dbcls.rois.ac.jp/policy.html">免責事項</a>」にも準ずるものとします。
		    </p>
		  </div>
		  <div class="btn-close">
		    <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	  <!--- /Modal --->

	</main>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
		</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
		</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
		</script>
	<script type="text/javascript" src="js/main.js"></script>
</body>

</html>
