<!doctype html>
<html lang="ja">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/static/sass/main.css">
	<link rel="stylesheet" href="https://indestructibletype-fonthosting.github.io/renner.css" type="text/css"
		charset="utf-8" />
	<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
	<title>NanbyoData</title>

	<!-- TogoStanza -->
	<!--script src="/static/js/webcomponents-loader.js"></script-->
	<!--script src="https://togovar.biosciencedbc.jp/stanza/assets/components/webcomponentsjs/webcomponents-loader.js" crossorigin></script-->
	<script src="https://cdn.jsdelivr.net/npm/@webcomponents/webcomponentsjs@1.3.0/webcomponents-loader.js" crossorigin></script>
	<link rel="import" href="https://nanbyodata.jp/togostanza/nando_entry/" />
	<!-- link rel="import" href="http://ep.dbcls.jp/~kwsm/nando/dist/stanza/nando_entry/" / -->

</head>

<body>
	<script type="text/javascript"
		src="https://dbcls.rois.ac.jp/DBCLS-common-header-footer/common-footer/script/common-footer.js"
		id="common-footer__script"></script>
	<main>

		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
			<div class="container">
				<a class="navbsar-brand js-scroll-trigger" href="index.html"><img class="imgtitle" src="/static/img/title.svg"><img class="imgtitle imgscroll" src="/static/img/title_white.svg"></a>
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
					data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
					aria-label="Toggle navigation">
					<i class="fas fa-bars"></i>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav text-uppercase ml-auto">
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="#second">オープンデータ</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="#about">サイト概要</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="#"><button type="button" class="btn-TOS" data-toggle="modal" data-target="#demoNormalModal_TOS">免責事項</button></a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" title="Comments & suggestions are welcome!" href="mailto:support@dbcls.rois.ac.jp">お問い合わせ</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- Contents -->
                <section id="service">
                  <div class="container">
		    <togostanza-nando_entry nando_id='{{ id_nando }}'></togostanza-nando_entry>
		  </div>
		</section>
	</main>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
	</script>
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>

  <script
    type="text/javascript"
    src="https://dbcls.rois.ac.jp/DBCLS-common-header-footer/v2/script/common-header-and-footer.js"
    style="display: block"
    id="common-header-and-footer__script"
    data-width="1156px"
  ></script>

</html>
