<!doctype html>

{% if get_locale() == "ja" or get_locale() == "ja_JP" %}
<html lang="ja">
{% elif get_locale() == "ko" or get_locale() == "ko_KR" %}
<html lang="ko">
{% else %}
<html lang="en">
{% endif %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- SEO -->
  <title>NanbyoData</title>
  <meta name="description" content="NanbyoDataのTopページです." />
  <meta property="og:site_name" content="NanbyoData" />
  <meta property="og:title" content="NanbyoData" />
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://nanbyodata.jp/" />
  <meta property="og:description" content="NanbyoDataのTopページです." />
  <meta property="og:image" content="/static/img/ogp_img.png" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://indestructibletype-fonthosting.github.io/renner.css" type="text/css"
    charset="utf-8" />
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/static/sass/main.css">

  <!-- Smart Box Style -->
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/PubCaseFinder/pubcasefinder_tools@main/smartbox/style.css">

  <!-- favicon -->
  <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">

  <!-- TokenInput -->
  <script type="text/javascript" src="/static/js/old_js/jquery-3.6.0.min.js"></script>

</head>

<body>
  <main>

    <!-- Navigation -->
    {% include 'component/navigation.html' %}

    <!-- Header, Search Area -->
    <div class="page-layout">
      <header class="search-area">
        <div class="intro-text">
          <div class="top-smart-box">
            {% if get_locale() == "ja" or get_locale() == "ja_JP" %}
            <smart-box smart-box-id="NANDO" data-path="/ontology/current_release/nando.tsv" placeholder="難病名を入力"
              autocomplete="off" options='{
              "api_url": "",
              "max_results": 100
            }'></smart-box>
            {% else %}
            <smart-box smart-box-id="NANDO" data-path="/ontology/current_release/nando.tsv"
              placeholder="Type in disease name" autocomplete="off" options='{
              "api_url": "",
              "max_results": 100
            }'></smart-box>
            {% endif %}
          </div>
          <p>ex&#41;</p>
          {% if get_locale() == "ja" or get_locale() == "ja_JP" %}
          <div class="keyword"><a href="/disease/NANDO:2200053">ユーイング肉腫</a></div>
          <div class="keyword"><a href="/disease/NANDO:1200473">非典型溶血性尿毒症症候群</a></div>
          {% else %}
          <div class="keyword"><a href="/disease/NANDO:2200053">Ewing's sarcoma</a></div>
          <div class="keyword"><a href="/disease/NANDO:1200473">Atypical hemolytic uremic syndrome</a></div>
          {% endif %}
        </div>
      </header>

      <div class="contents-wrapper">
        <section class="news-summary section-block">
          {% if get_locale() == "ja" or get_locale() == "ja_JP" %}
          <h2 class="section-title">お知らせ</h2>
          {% else %}
          <h2 class="section-title">News</h2>
          {% endif %}

          <div class="news-wrapper">
            <div class="logdata">
            </div>
          </div>
        </section>


        <section id="download" class="section-block">
          {% if get_locale() == "ja" or get_locale() == "ja_JP" %}
          <p class="section-description">NanbyoDataは<a
              href="https://creativecommons.org/licenses/by/4.0/deed.ja">クリエイティブ・コモンズ【表示4.0国際】</a>の下に提供されています。
          </p>
          {% else %}
          <h2 class="section-title">Download</h2>
          <p class="section-description">NanbyoData is licensed under a <a
              href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International</a>.
          </p>
          {% endif %}
          <div class="card-wrapper">
            <div class="card">
              <img src="/static/img/img_data_1.png" class="card-img-top" alt="難病オントロジーimg">
              <div class="card-body">
                <img src="/static/img/icon_2_1.svg" class="illust" alt="難病オントロジーillust">
                {% if get_locale() == "ja" or get_locale() == "ja_JP" %}
                <h3 class="card-title">難病オントロジー</h3>
                <p class="card-text">難病オントロジー（Nanbyo Disease Ontology,
                  NANDO）は、難病に関する語彙、難病同士の関係、難病と他疾患リソースとの関連などを体系化したものです。難病オントロジーに基づき難病関連データを記述することにより、コンピュータを用いた処理やデータ共有が容易になります。
                </p>
                {% else %}
                <h3 class="card-title">Nanbyo Disease Ontology</h3>
                <p class="card-text">
                  Nanbyo Disease Ontology (NANDO) with over 2700 terms which represent individual Nanbyo diseases in
                  Japan.
                </p>
                {% endif %}
                <button type="button" class="btn btn-primary" data-toggle="modal"
                  data-target="#demoNormalModalA">Download</button>
              </div>
            </div>

            <div class="card">
              <img src="/static/img/img_data_2.png" class="card-img-top" alt="難病ー遺伝子関連データimg">
              <div class="card-body">
                <img src="/static/img/icon_2_2.svg" class="illust" alt="難病ー遺伝子関連データillust">
                {% if get_locale() == "ja" or get_locale() == "ja_JP" %}
                <h3 class="card-title">難病ー遺伝子関連データ</h3>
                <p class="card-text">各難病について、疾患原因として報告されている遺伝子を関連付けたデータを提供します。</p>
                {% else %}
                <h3 class="card-title">Nanbyo-Gene Associations</h3>
                <p class="card-text">We provide the causative genes for each Nanbyo disease.</p>
                {% endif %}
                <button type="button" class="btn btn-primary" data-toggle="modal"
                  data-target="#demoNormalModalB">Download</button>
              </div>
            </div>

            <div class="card">
              <img src="/static/img/img_data_3.png" class="card-img-top" alt="難病ー症状関連データimg">
              <div class="card-body">
                <img src="/static/img/icon_2_3.svg" class="illust" alt="難病ー症状関連データillust">
                {% if get_locale() == "ja" or get_locale() == "ja_JP" %}
                <h3 class="card-title">難病ー症状関連データ</h3>
                <p class="card-text">各難病について、報告されている症状をHuman Phenotype Ontology（HPO）を用いて関連付けたデータを提供します。</p>
                {% else %}
                <h3 class="card-title">Nanbyo-Phenotype Associations</h3>
                <p class="card-text">We provide the phenotypes for each Nanbyo disease using the Human Phenotype
                  Ontology (HPO).</p>
                {% endif %}
                <button type="button" class="btn btn-primary" data-toggle="modal"
                  data-target="#demoNormalModalC">Download</button>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <!--- footer --->
    {% include 'component/footer.html' %}


    <!--- 難病オントロジー modal -->
    <div class="modal fade" id="demoNormalModalA" tabindex="-1" role="dialog" aria-labelledby="modal"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <img src="/static/img/modal_icon_1.png">
            <h3 class="modal-title" id="demoModalTitle">Nanbyo Disease Ontology</h3>
            </br>
            <p>Please download the latest version from the link below.</p>
            <table>
              <tr>
                <th>File</th>
              </tr>
              <tr>
                <td><a href="/download/latest/nando.ttl">Turtle</a></td>
              </tr>
              <tr>
                <td><a href="/download/latest/nando.rdf">RDF/XML</a></td>
              </tr>
              <tr>
                <td><a href="/download/latest/nando.xlsx">Excel(.xlsx)</a></td>
              </tr>
            </table>
            <div class="btn-close">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--- /#demoNormalModal --->

    <!--- 難病ー遺伝子関連データ modal -->
    <div class="modal fade" id="demoNormalModalB" tabindex="-1" role="dialog" aria-labelledby="modal"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <img src="/static/img/modal_icon_2.png">
            <h3 class="modal-title" id="demoModalTitle">Nanbyo-Gene Associations</h3>
            </br>
            <p>Please download the latest version from the link below.</p>
            <table>
              <tr>
                <th>File</th>
              </tr>
              <tr>
                <td><a href="/download/latest/nando_gene.csv">CSV</a></td>
              </tr>
              <tr>
                <td><a href="/download/latest/nando_gene.json">JSON</a></td>
              </tr>
            </table>
            <div class="btn-close">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--- /#demoNormalModal --->

    <!--- 難病ー症状関連データ modal -->
    <div class="modal fade" id="demoNormalModalC" tabindex="-1" role="dialog" aria-labelledby="modal"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <img src="/static/img/modal_icon_3.png">
            <h3 class="modal-title" id="demoModalTitle">Nanbyo-Phenotype Associations</h3>
            </br>
            <p>Please download the latest version from the link below.</p>
            <table>
              <tr>
                <th>File</th>
              </tr>
              <tr>
                <td><a href="/download/latest/nando_hp.csv">CSV</a></td>
              </tr>
              <tr>
                <td><a href="/download/latest/nando_hp.json">JSON</a></td>
              </tr>
            </table>
            <div class="btn-close">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--- /#demoNormalModal --->

    <!--- NanbyoData利用規約 modal -->
    {% if get_locale() == "ja" or get_locale() == "ja_JP" %}
    {% include 'component/modal-tos.html' %}
    {% else %}
    {% include 'component/modal-tos_en.html' %}
    {% endif %}

  </main>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.4.1/papaparse.min.js"></script>
  <script type="module" src="/static/js/main.js"></script>
  <script type="module"
    src="https://cdn.jsdelivr.net/gh/PubCaseFinder/pubcasefinder_tools@main/smartbox/smartbox.js"></script>
</body>

</html>
