<!doctype html>

{% if get_locale() == "ja" or get_locale() == "ja_JP" %}
<html lang="ja">
{% elif get_locale() == "ko" or get_locale() == "ko_KR" %}
<html lang="ko">
{% else %}
<html lang="en">
{% endif %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- SEO -->
  <title>NanbyoData</title>
  <meta name="description" content="NanbyoDataのTopページです." />
  <meta property="og:site_name" content="NanbyoData" />
  <meta property="og:title" content="NanbyoData" />
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://nanbyodata.jp/api" />
  <meta property="og:description" content="NanbyoDataのTopページです." />
  <meta property="og:image" content="/static/img/ogp_img.png" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://indestructibletype-fonthosting.github.io/renner.css" type="text/css"
    charset="utf-8" />
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/static/sass/main.css">

  <!-- favicon -->
  <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">

  <!-- TokenInput -->
  <script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.tokeninput.js"></script>
  <script type="text/javascript" src="/static/js/tokeninput.js"></script>

  <!-- js -->
  <script type="text/javascript" src="/static/js/index.js" defer></script>
</head>

<body>
  <main>

    <!-- Navigation -->
    {% include 'component/navigation.html' %}

    <!-- Header, Search Area -->
    <div class="page-layout">
      <header class="search-area">
        <div class="intro-text">
          <p>ex&#41;</p>
          {% if get_locale() == "ja" or get_locale() == "ja_JP" %}
          <div class="keyword"><a href="/disease/NANDO:2200053">ユーイング肉腫</a></div>
          <div class="keyword"><a href="/disease/NANDO:1200473">非典型溶血性尿毒症症候群</a></div>
          {% else %}
          <div class="keyword"><a href="/disease/NANDO:2200053">Ewing's sarcoma</a></div>
          <div class="keyword"><a href="/disease/NANDO:1200473">Atypical hemolytic uremic syndrome</a></div>
          {% endif %}
        </div>
      </header>

      <div class="contents-wrapper">
        <section class="news-summary section-block">
          {% if get_locale() == "ja" or get_locale() == "ja_JP" %}
          <h2 class="section-title">お知らせ</h2>
          {% else %}
          <h2 class="section-title">News</h2>
          {% endif %}

          <div class="news-wrapper">
            <div class="logdata">
              {% for file_path, info in news_info.items() %}
              {% if loop.index <= 5 %} <dl>
                <dt><time datetime="{{ info.date }}">{{ info.date }}</time></dt>
                <dd><a href="{{info.path}}">{{ info.title }}</a></dd>
                </dl>
                {% else %}
                {% if loop.index == 6 %}
                <div class="more-list">
                  {% endif %}
                  <dl>
                    <dt><time datetime="{{ info.date }}">{{ info.date }}</time></dt>
                    <dd><a href="{{info.path}}">{{ info.title }}</a></dd>
                  </dl>
                  {% if loop.last %}
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>

            <div class="more">more</div>
          </div>
        </section>


        <section id="download" class="section-block">
          {% if get_locale() == "ja" or get_locale() == "ja_JP" %}
          <h2 class="section-title">ダウンロード</h2>
          <p class="section-description">NanbyoDataは<a
              href="https://creativecommons.org/licenses/by/4.0/deed.ja">クリエイティブ・コモンズ【表示4.0国際】</a>の下に提供されています。
          </p>
          {% else %}
          <h2 class="section-title">Download</h2>
          <p class="section-description">NanbyoData is licensed under a <a
              href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International</a>.
          </p>
          {% endif %}
          <div class="card-wrapper">
            <div class="card">
              <img src="/static/img/img_data_1.png" class="card-img-top" alt="難病オントロジーimg">
              <div class="card-body">
                <img src="/static/img/icon_2_1.svg" class="illust" alt="難病オントロジーillust">
                <h3 class="card-title">難病オントロジー</h3>
                <p class="card-text">難病オントロジー（Nanbyo Disease Ontology,
                  NANDO）は、難病に関する語彙、難病同士の関係、難病と他疾患リソースとの関連などを体系化したものです。難病オントロジーに基づき難病関連データを記述することにより、コンピュータを用いた処理やデータ共有が容易になります。
                </p>
                <button type="button" class="btn btn-primary" data-toggle="modal"
                  data-target="#demoNormalModalA">Download</button>
              </div>
            </div>

            <div class="card">
              <img src="/static/img/img_data_2.png" class="card-img-top" alt="難病ー遺伝子関連データimg">
              <div class="card-body">
                <img src="/static/img/icon_2_2.svg" class="illust" alt="難病ー遺伝子関連データillust">
                <h3 class="card-title">難病ー遺伝子関連データ</h3>
                <p class="card-text">各難病について、疾患原因として報告されている遺伝子を関連付けたデータを提供します。</p>
                <button type="button" class="btn btn-primary" data-toggle="modal"
                  data-target="#demoNormalModalB">Download</button>
              </div>
            </div>

            <div class="card">
              <img src="/static/img/img_data_3.png" class="card-img-top" alt="難病ー症状関連データimg">
              <div class="card-body">
                <img src="/static/img/icon_2_3.svg" class="illust" alt="難病ー症状関連データillust">
                <h3 class="card-title">難病ー症状関連データ</h3>
                <p class="card-text">各難病について、報告されている症状をHuman Phenotype Ontology（HPO）を用いて関連付けたデータを提供します。</p>
                <button type="button" class="btn btn-primary" data-toggle="modal"
                  data-target="#demoNormalModalC">Download</button>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <!--- footer --->
    {% include 'component/footer.html' %}


    <!--- 難病オントロジー modal -->
    <div class="modal fade" id="demoNormalModalA" tabindex="-1" role="dialog" aria-labelledby="modal"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <img src="/static/img/modal_icon_1.png">
            <h3 class="modal-title" id="demoModalTitle">難病オントロジー（NANDO）</h3>
            <p>NANDOの詳細情報は<a href="https://github.com/aidrd/nando" target="_blank">GitHub</a>をご参照ください。
            </p>
            <table>
              <tr>
                <th>Version</th>
                <th>File</th>
                <th>Size</th>
                <th>Date</th>
              </tr>
              <tr>
                <td>2023-11-28</td>
                <td><a href="https://nanbyodata.jp/ontology/current_release/nando.ttl">Turtle</a></td>
                <td>2.7MB</td>
                <td>2023-11-28</td>
              </tr>
              <tr>
                <td>2023-11-28</td>
                <td><a href="https://nanbyodata.jp/ontology/current_release/nando.rdf">RDF/XML</a></td>
                <td>3.6MB</td>
                <td>2023-11-28</td>
              </tr>
              <tr>
                <td>2023-11-28</td>
                <td><a href="https://nanbyodata.jp/ontology/current_release/nando.xlsx">Excel(.xlsx)</a></td>
                <td>265KB</td>
                <td>2023-11-28</td>
              </tr>
            </table>
            <div class="btn-close">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--- /#demoNormalModal --->

    <!--- 難病ー遺伝子関連データ modal -->
    <div class="modal fade" id="demoNormalModalB" tabindex="-1" role="dialog" aria-labelledby="modal"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <img src="/static/img/modal_icon_2.png">
            <h3 class="modal-title" id="demoModalTitle">難病ー遺伝子関連データ</h3>
            <p>それぞれの難病に関連する疾患原因遺伝子（HGNC Gene Symbol）を収納</p>
            <table>
              <tr>
                <th>Version</th>
                <th>File</th>
                <th>Size</th>
                <th>Date</th>
              </tr>
              <tr>
                <td>1.0.1</td>
                <td><a href="https://nanbyodata.jp/annotation/nanbyo-gene-associations.json">JSON</a></td>
                <td>75KB</td>
                <td>2021-08-05</td>
              </tr>
              <tr>
                <td>1.0.1</td>
                <td><a href="https://nanbyodata.jp/annotation/nanbyo-gene-associations.tsv">TSV</a></td>
                <td>69KB</td>
                <td>2021-08-05</td>
              </tr>
            </table>
            <div class="btn-close">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--- /#demoNormalModal --->

    <!--- 難病ー症状関連データ modal -->
    <div class="modal fade" id="demoNormalModalC" tabindex="-1" role="dialog" aria-labelledby="modal"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <img src="/static/img/modal_icon_3.png">
            <h3 class="modal-title" id="demoModalTitle">難病ー症状関連データ</h3>
            <p>それぞれの難病に関連する症状（Human Phenotype Ontology）を収納</p>
            <table>
              <tr>
                <th>Version</th>
                <th>File</th>
                <th>Size</th>
                <th>Date</th>
              </tr>
              <tr>
                <td>1.0.1</td>
                <td><a href="https://nanbyodata.jp/annotation/nanbyo-phenotype-associations.json">JSON</a></td>
                <td>942KB</td>
                <td>2021-08-05</td>
              </tr>
              <tr>
                <td>1.0.1</td>
                <td><a href="https://nanbyodata.jp/annotation/nanbyo-phenotype-associations.tsv">TSV</a></td>
                <td>1.3MB</td>
                <td>2021-08-05</td>
              </tr>
            </table>
            <div class="btn-close">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--- /#demoNormalModal --->

    <!--- NanbyoData利用規約 modal -->
    {% include 'component/modal-tos.html' %}

  </main>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
  <script type="module" src="/static/js/main.js"></script>
</body>

</html>
